.card {
  padding: 10px;
}

.custom-button {
  margin: 15px 0px 0px 0px;
}

.custom-header {
  margin: 20px 0px 0px 0px;
}

.custom-footer {
  text-align: center;
}

.label2 {
  margin: 5px 0px 0px 0px;
}

#savings_desc {
  margin: 20px 0px 0px 0px;
}
  